/* General Reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: ghostwhite;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px; /* Adjust padding for consistent spacing */
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-logo {
    display: flex;
    align-items: center; /* Center logo vertically */
}

.navbar-logo img {
    border-radius: 50%;
    margin-left: 20px; /* Space between logo and left edge */
}

.navbar-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    margin-left: auto; /* Pushes the button to the right */
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1.25rem;
    padding: 10px;
    margin-right: 50px;
    align-items: center; /* Center items vertically */
}

.navbar-links a {
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: coral;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: stretch; /* Make navbar items stretch to full width */
        padding: 5px 0; /* Adjust padding for mobile */
    }

    .navbar-logo {
        margin-bottom: 10px; /* Add space below the logo */
    }

    .navbar-toggle {
        display: block;
        margin-left: auto; /* Align button to the right */
        margin-right: 20px; /* Add some spacing from the right edge */
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
        width: 100%;
        background-color: #333;
        padding: 10px 0;
        align-items: center; /* Center links horizontally */
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links a {
        font-size: 1.5rem;
        padding: 10px 20px;
        color: white;
    }
}

.container {
    margin-top: calc(5.5vmin + 50px);
}

.list-pokemon {
    list-style: none;
}
